<div class=formulaire>
  <h1>Stupid coaching</h1>

  <div id=question>
  <%= @question %>
  </div>

  <div id=response>
  <%= @response %>
  </div>

  <%= link_to "Ask a new question", ask_path, class: "link"  %>
 </div>
