<div class=formulaire>
  <h1>Stupid coaching</h1>

  <form action="answer" data-turbo="false">
    <input type="text" name="question" class=case>
    <input type="submit" value="Ask !" class=button>
  </form>
</div>
